!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/navbar'
    = render 'layouts/jumbotron' if ['home','about'].include? action_name
    #main.container
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
