!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/navbar'
    = render 'layouts/jumbotron'
    #main.container
      = render 'layouts/flash'
      = yield
    = render 'layouts/footer'
